<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="extent" class="com.bics.end_to_end.extent.ExtentAppender"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="extent"/>
    </root>
</configuration>